# Server
MONGO_URI=mongodb://localhost:27017/lms
PORT=8080
SECRET_KEY=your_secret_key_here

# Cloudinary Setup
API_KEY=your_cloudinary_api_key
API_SECRET=your_cloudinary_api_secret
CLOUD_NAME=your_cloudinary_cloud_name

# Razorpay
RAZORPAY_API_KEY=your_razorpay_api_key
RAZORPAY_API_SECRET=your_razorpay_api_secret

# Frontend URL
VITE_FRONTEND_URLL=http://localhost:5173